{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="mb-3">
    <h1>{{ subforum.title }}</h1>
    <div style="display: flex; justify-content: end;" >
        <form class="like-button-form" method="POST">
            {% csrf_token %}
            {% if is_liked %}
                <i class="fa-solid fa-heart fa-2xl like-button" style="color: red; font-size: 8vmin; text-shadow: 3px 3px 5px rgba(0,0,0,0.77);"></i>
            {% else %}
                <i class="fa-solid fa-heart fa-2xl like-button" style="color: white; font-size: 8vmin; text-shadow: 3px 3px 5px rgba(0,0,0,0.77);"></i>
            {% endif %}
        </form>
    </div>
    <small>By: {{ subforum.user }}</small>
    <small>Created: {{ subforum.date }}</small>
    <small>Likes: <span id="likes"> {{ likes }} </span> </small>
    <br>
    <p> {{ subforum.content }} </p>
    <a href=" {% url 'company_detail' subforum.company.id %} "> {{ subforum.company }} </a>
    {% if subforum.company_photo_set.all %}
        <br>
        <div id="carouselExample" class="carousel slide mx-auto" style="width: 40vmax; height: 80vmin;">
            <div class="carousel-inner">
            {% for photo in subforum.company_photo_set.all %}
                <div class="carousel-item active">
                    <img src=" {{ photo.url }} " class="d-block w-100 mb-4" style="max-width: 40vmax;">
                </div>
            {% empty %}
                <div>No Photos Uploaded</div>
            {% endfor %}
                </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% endif %}


    {% if user == subforum.user %}
        <form  class="my-2" action=" {% url 'company_subforums_update' subforum.company.id subforum.id %} ">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Edit Subforum">
        </form>
    {% endif %}
</div>
<p class="d-inline-flex gap-1 mb-2">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="expand-btn">
        Expand Comments
    </button>
</p>

<div class="row px-2 py-2 my-2" id="post-body">
    {% for post in subforum.company_post_set.all %}
        <div class="card py-2 my-2">
            <h5 class="card-title">Post by User {{ post.user }} </h5>
            <small>Created: {{ post.date }}</small>
            <p>{{ post.content }}</p>
            {% if user == post.user %}
                <form action=" {% url 'delete_company_post' subforum.company.id subforum.id post.id %} ">
                    {% csrf_token %}
                    <input type="submit" class="btn-delete" value="Delete Post">
                </form>
            {% endif %}  
        </div>
        <div class="collapse" id="collapseExample">
            <div class="comment-container">
                {% for comment in post.company_comment_set.all %}
                <div class="comment mb-2 p-2">
                    <p> {{ comment.user }} Commented: <br>
                        <small> {{ comment.date }} </small> <br>
                        {{ comment.content }} </p>
                    {% if user == comment.user %}
                    <form action=" {% url 'delete_company_comment' subforum.company.id subforum.id post.id comment.id %} ">
                        {% csrf_token %}
                        <input type="submit" class="btn-delete" value="Delete Comment">
                    </form>
                    {% endif %}
                </div>
                {% endfor %}
                {% if user.is_authenticated %}
                    <form class="mb-2" action=" {% url 'add_company_comment' post.subforum.company.id subforum.id post.id %} " method="POST">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <input type="submit" class="btn-add" value="Add A Comment">
                    </form>
                {% endif %}
            </div>
        </div>




    {% endfor %}
</div>

<div class="row mt-4">
    <h2>Add a Post</h2>
    {% if user.is_authenticated %}
        <form action="{% url 'add_company_post' subforum.company.id subforum.id %}" method="POST">
            {% csrf_token %}
            {{ post_form.as_p }}
            <button type="submit" class="btn btn-primary">Add Post</button>
        </form>
    {% endif %}
</div>


{% block scripts %}
<script>
    $(document).ready(function() {
        $('.like-button-form').click(function(event) {
            event.preventDefault();
            let form =$(this)
            let button = document.querySelector('.like-button')
            let likes= document.querySelector('#likes')
            $.ajax({
                url: "{% url 'company_subforums_like' subforum.company.id subforum.id %}", 
                type: "POST", 
                data: form.serialize(), 
                dataType: "json", 
                success: function(data) {
                    if (data.success) {
                        likes.innerText = data.likes
                        data.is_liked ? button.style.color = 'red' : button.style.color = 'white'
                        console.log(`success!, likes: ${data.likes} `)
                    } else {
                        alert('failed to add a like to the subforum')
                    }
                }, 
                error: function() {
                    alert('server failed to add a like')
                }
            })
        } )
    } )

    const expand = document.querySelector('#expand-btn')
    expand.addEventListener('click', changeText)

    function changeText(event) {
        expand.innerText = expand.innerText === "Collapse Comments" ? "Expand Comments": "Collapse Comments"
    }

    $(document).ready(function() {
        $("#id_date").datepicker({format:"yyyy-mm-dd"})
    })

</script>

{% endblock %}
{% endblock %}