{% extends 'base.html' %}
{% block content %}


<div class="">
    <h1>{{ subforum.title }}</h1>
    <small>Created: {{ subforum.date }}</small>
    <small>Likes: <span id="likes"> {{ likes }} </span> </small>
    <p> {{ subforum.content }} </p>
    <a href=" {% url 'company_detail' subforum.company.id %} "> {{ subforum.company }} </a>
    {% for photo in subforum.company_photo_set.all %}
        <img src=" {{ photo.url }} " alt="">
    {% empty %}
    <div>No Photos Uploaded</div>
    {% endfor %}
    {% if user == subforum.user %}
        <form  class="my-2" action=" {% url 'company_subforums_update' subforum.company.id subforum.id %} ">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Edit Subforum">
        </form>
    {% endif %}
    <div>
        <form class="like-button-form" method="POST">
            {% csrf_token %}
            {% if is_liked %}
                <button class="like-button" style="background-color: red;">LIKE</button>
            {% else %}
                <button class="like-button" style="background-color: white;" >LIKE</button>
            {% endif %}
        </form>
    </div>
</div>

    <div class="row mt-4">
        <div class="col">
            {% for post in subforum.company_post_set.all %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Post by User {{ post.user }} </h5>
                    <small>Created: {{ post.date }}</small>
                    <small>Likes: {{ post.likes }}</small>
                    <p>{{ post.content }}</p>
                    {% if user == post.user %}
                        <form action=" {% url 'delete_company_post' subforum.company.id subforum.id post.id %} ">
                            {% csrf_token %}
                            <input type="submit" class="btn" value="Delete Post">
                        </form>
                    {% endif %}    
                </div>
                <div class="card-content">
                    {% for comment in post.company_comment_set.all %}
                        <p> {{ comment.user }} Commented:</p>
                        <p> {{ comment.content }} </p>
                        <small> {{ comment.date }} </small>
                        {% if user == comment.user %}
                            <form action=" {% url 'delete_company_comment' subforum.company.id subforum.id post.id comment.id %} ">
                                {% csrf_token %}
                                <input type="submit" class="btn" value="Delete Comment">
                            </form>
                        {% endif %}
                    {% endfor %}
                </div>
                <div>
                    {% if user.is_authenticated %}
                        <form action=" {% url 'add_company_comment' post.subforum.company.id subforum.id post.id %} " method="POST">
                            {% csrf_token %}
                            {{ comment_form.as_p }}
                            <input type="submit" class="btn" value="Add A Comment">
                        </form>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <h2>Add a Post</h2>
            {% if user.is_authenticated %}
                <form action="{% url 'add_company_post' subforum.company.id subforum.id %}" method="POST">
                    {% csrf_token %}
                    {{ post_form.as_p }}
                    <button type="submit" class="btn">Add Post</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>


{% block scripts %}
<script>
    $(document).ready(function() {
        $('.like-button-form').submit(function(event) {
            event.preventDefault();
            let form =$(this)
            let button = document.querySelector('.like-button')
            let likes= document.querySelector('#likes')
            $.ajax({
                url: "{% url 'company_subforums_like' subforum.company.id subforum.id %}", 
                type: "POST", 
                data: form.serialize(), 
                dataType: "json", 
                success: function(data) {
                    if (data.success) {
                        likes.innerText = data.likes
                        data.is_liked ? button.style.backgroundColor = 'red' : button.style.backgroundColor = 'white'
                        console.log(`success!, likes: ${data.likes} `)
                    } else {
                        alert('failed to add a like to the subforum')
                    }
                }, 
                error: function() {
                    alert('server failed to add a like')
                }
            })
        } )
    } )
</script>

{% endblock %}
{% endblock %}