{% extends 'base.html' %}

{% block content %}
  <h1>Delete Note</h1>

  <h4>Are you sure you want to delete <span class="teal-text"> this note from {{ object.date }} </span>?</h4>

  <form action="" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete!</button>
    <a href="{% url 'applications_detail' object.user.id object.component.application.id %}">
      <button type="button" class="btn btn-secondary">Cancel</button>
    </a>
  </form>
{% endblock %}
