{% extends 'base.html' %}
{% block content %}

<h1>About The Draft</h1>

<h5>Welcome to The Draft, your go-to destination for all things related to the job search process. Whether you're a recent graduate taking your first steps into the job market or a seasoned professional looking to make a career change, The Draft is here to help you navigate the often complex and challenging world of job hunting.</h5>

<div class="card p-4 mt-4 mx-2">
    <h3>Our Mission</h3>
    <p>At The Draft, our mission is simple: to empower job seekers like you by providing a supportive and inclusive online community where you can connect, learn, and grow. We believe that the job search journey doesn't have to be a solitary endeavor. By coming together and sharing knowledge, experiences, and insights, we can all enhance our chances of success.</p>

    
    <h3>What Sets Us Apart</h3>
    <p>The Draft is not just another job search platform. We take pride in our unique features and the vibrant community that makes us stand out</p>

    <h4>Diverse and Inclusive Community</h4>
    <p>We welcome job seekers from all backgrounds, industries, and experience levels. Our diverse user base ensures that you can get advice and perspectives from a wide range of individuals.</p>  

    <h4>Ask Anything, Anytime</h4>
    <p>Our discussion forums are open 24/7, allowing you to ask questions about any aspect of your job search whenever it's convenient for you. Whether you need help with crafting the perfect resume, preparing for an interview, or negotiating a job offer, our community is here to assist.</p>


    <h4>Expert Advice</h4>
    <p>In addition to the wisdom of our community members, we also feature expert contributors who share their knowledge and insights on various job search topics. You'll find articles, webinars, and resources created by professionals with years of experience in the field.</p>

    <h4>Networking Opportunities</h4> 
    <p>We understand the importance of building a strong professional network. The Draft provides a space for you to connect with fellow job seekers, potential mentors, and industry experts. Expand your network and open doors to new opportunities.</p>        

    <h4>Privacy and Security</h4>
    <p>We take your privacy and security seriously. Your personal information is safeguarded, and we encourage respectful and constructive interactions within our community.</p>    

    <h3>Join the The Draft Community Today</h3>
    <p>Whether you're just starting your job search or looking to fine-tune your strategy, The Draft is your trusted partner in achieving your career goals. Join our community today, and let's embark on this journey together. Together, we'll make your job search more manageable, more successful, and even more enjoyable.</p>
</div>
{% endblock %}
