{% extends 'base.html' %}
{% block content %}


{% load static %}
<h2>Frequently Asked Questions</h2>

<div class="accordion mt-8" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h3>What is a Subforum?</h3>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p>A subforum is the original content or topic that a user shares with The Draft community. Subforums are created to initiate discussions, share information, ask questions, or simply express thoughts and ideas. It consists of a title, which is a brief description of the content, the content, which contains text, and a photo file uploader for any phtos a user would like to add. A subforum can be edited using the "Edit Subforum" button located near the bottom of the subforum submission.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h3>What's the difference between General Subforums and Company Subforums?</h3>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p>General Subforums are topics submitted by users that are of a general variety and that do not relate to a specific company. Conversely, Company Subforums are topics submitted by users that relate to a specific company. For example, a topic like "What are good networking tips for an introvert?" would be submitted on the General Subforums page (also the homepage), while a question like "How should I prepare for a Software Engineering interview at Google?" would be submitted on Google's specific company page on the site. To access a company's page the user should click the "View Companies" tab on the nav bar and selector on the particular company they are interested in discussing.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h3>What is a Post?</h3>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p>A post is text that a user submits that engages with a subform's content. Posts are displayed in their own cards underneath a subforum thread and should relate to the content of the original subforum. Posts can be thought of as replies to a subforum. A post can be deleted using the "Delete Post" Button</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <h3>What is a Comment?</h3>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p>A comment is text that the user submits that engages with another user's post about a subforum. Comments are located directly under the corresponding post and can be thought of as replies to a post. A comment can be deleted using the "Delete Comment"</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <h3>How do likes work?</h3>
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p>Likes are used to engage with subforums and allow the user to show appreciation towards a user's subforum submission. To a like a subforum, the user can click the heart button located directly underneath a subforum. Similar to a site like Reddit, subforums with more likes are displayed near the top of the page so that users can see what's popular on The Draft lately.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <h3>How do I access The Draft's Job Application Tracker?</h3>
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p>Applying to 100s of Jobs and struggling to keep up? If so, logged-in users can add a Job Application to their user profile by clicking on the "profile" tab on the site's nav bar at the top. After that fill out the "Add Job Application" form, select the current status of the job application, and upload any relevant files like the resume used and the cover letter sent (must be a pdf). Once submitted the user can now track the stages of the job application process and add components, notes, or update the job application with any relevant new information.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <h3>What is a Job Application Component?</h3>
        </button>
      </h2>
      <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p>A component belongs to a Job Application and it's functionally meant to add aditional staging across an job application cycle. The "Type" field can be thought of as the particular stage of an application a user is in (e.g. Behavioral Interview, Panel Round, etc.), the "Date" should be the date this stage occurs on, the "contact" is who the interview was with, and the "description" box is text that describe how it went.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            <h3>What is a Note?</h3>
        </button>
      </h2>
      <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p>A note can be added to a Job Application Component if the user has any additional info that they would like to save to the particular note. Things like next steps, action items, or brainstorming for a take-home assignment are good use cases for a note.</p>
        </div>
      </div>
    </div>
  </div>







{% endblock %}
