{% extends 'base.html' %}
{% block content %}

{% load static %}


<section class="about-us">
    <h2>About Us</h2>
    <p id="about"> Welcome to The Draft, the ultimate destination for tech enthusiasts and job seekers in the ever-evolving world of technology. <br>
        Engage yourself with in-depth discussions and access expert insights to supercharge your tech career. <br>
        Whether you're aiming to land your dream job, navigate career transitions, or simply stay updated on industry trends, The Draft is your go-to platform. <br>
        Join us today and embark on a journey to enhance your tech career prospects. </p>
</section>

<h2>List of General Topics</h2>

{% if user.is_authenticated %}
    <a href="{% url 'subforums_new' %}">
        <button class="btn btn-primary btn-lg">Create A Subforum</button>
    </a>
{% endif %}

{% for subforum in subforums %}
    {% if subforum.pinned %}
        <a href="{% url 'subforums_detail' subforum.id %}">
            <div class="card mb-3">
                <div class="card-body forum-card">
                    <h5 class="card-title">{{ subforum.title }}</h5>
                    <p class="card-text">{{ subforum.date }}</p>
                    <p class="card-text">{{ subforum.likes }}</p>
                </div>
            </div>
        </a>
    {% endif %}
{% endfor %}

{% for subforum in subforums %}
    {% if subforum.pinned == False %}
        <a href="{% url 'subforums_detail' subforum.id %}">
            <div class="card mb-3">
                <div class="card-body forum-card">
                    <h5 class="card-title">{{ subforum.title }}</h5>
                    <p class="card-text">{{ subforum.date }}</p>
                    <p class="card-text">{{ subforum.likes }}</p>
                </div>
            </div>
        </a>
    {% endif %}
{% endfor %}

{% block script %}

<script>
    
    const myText = document.getElementById("about")

    function updateText(e) {
        multiplierWidth = e.offsetX / window.innerWidth;
        multiplierHeight = e.offsetY / window.innerHeight;
        randomWeight =  multiplierWidth * (700 - 100) + 500;
        randomWidth =  multiplierHeight * (100 - 50) + 150;
        // myText.style.fontVariationSettings = "\"wght\" " + randomWeight + ", \"wdth\" " + randomWidth;
        myText.style.fontVariationSettings = "\"wght\" " + randomWeight;
    }
    window.addEventListener("mousemove", updateText)

    const collapseElementList = document.querySelectorAll('.collapse')
    const collapseList = [...collapseElementList].map(collapseEl => new bootstrap.Collapse(collapseEl))
</script>

{% endblock %}
{% endblock %}
