{% extends 'base.html' %}
{% block content %}

<h1>Home Page</h1>

<h2>List of General Topics</h2>
{% if user.is_authenticated %}
    <a href="{% url 'subforums_create' %}">
        <button class="btn btn-primary btn-lg">Create A Subforum</button>
    </a>
{% endif %}

{% for subforum in subforums %}
    {% if subforum.pinned %}
        <a href="{% url 'subforums_detail' subforum.id %}">
            <div class="card mb-3">
                <div class="card-body forum-card">
                    <h5 class="card-title">{{ subforum.title }}</h5>
                    <p class="card-text">{{ subforum.date }}</p>
                    <p class="card-text">{{ subforum.likes }}</p>
                </div>
            </div>
        </a>
    {% endif %}
{% endfor %}

{% for subforum in subforums %}
    {% if subforum.pinned == False %}
        <a href="{% url 'subforums_detail' subforum.id %}">
            <div class="card mb-3">
                <div class="card-body forum-card">
                    <h5 class="card-title">{{ subforum.title }}</h5>
                    <p class="card-text">{{ subforum.date }}</p>
                    <p class="card-text">{{ subforum.likes }}</p>
                </div>
            </div>
        </a>
    {% endif %}
{% endfor %}

{% endblock %}
