.container {
    padding: 2vw;
    background-color: rgba(47, 79, 79, 0.71);
}

html {
    position: relative;
}

h1 {
    font-size: 3.5vw; 
    margin-top: 0;
    margin-bottom: 5vw; 
    /* color: #333; */
}

/* p {
    border: 1px solid rgba(47, 79, 79, 0.71); 
    padding: 10px;  
    background-color: #f5f5f5;  
} */

.comment {
    background-color: #f5f5f5; 
    border: 1px solid #060606; 
    border-radius: 5px; 
}

.btn-add {
    background-color: #007bff;
    padding: 0.5rem 1rem; 
    font-size: 1rem; 
    border: none;
    border-radius: 0.3125rem; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem; /
}
.btn-delete {
    background-color: #d94141;
    padding: 0.1rem .25rem; 
    font-size: 0.6rem; 
    border-radius: 0.25rem; 

}
.btn-create {
    background-color: #007bff;
    padding: 0.5rem 1rem; 
    font-size: 1rem; 
    border: none;
    border-radius: 0.3125rem; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem; 
}
h2 {
    font-size: 2.5vw; 
    margin-top: 0;
    margin-bottom: 5vw; 
    /* color: #333; */
    font-weight: bold;
}

/* #id_content {
    width: 50%; 
    height: 20%;
    padding: 10px; 
    margin: 10px;
    border: 1px solid #000; 
} */

body {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.about-us {
    background-image: url('https://i.imgur.com/4GoS94r.jpg');
    background-color: rgba(255, 255, 255, .8);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}
.about-us>h2 {
    margin-right: 5vw;
    font-weight: bold;
    color: white;
}

.about-us>p {

    font-family: "transducer-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 100;
    color: white;
}

.row-content{
    background-color: #24305E;
    padding: 20px;
    border: 1px solid #ddd;
    color: #797979;
}

#post-body {
    background-color: #A8D0E6;
}

.card-body {
    /* background-color:#374785 */
    background-color: #374785;
}


.btn-create-subforum {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.3125rem; /* 5px => 0.3125rem */
    padding: 1rem 1.25rem; /* 10px 20px => 0.625rem 1.25rem */
    font-size: 1.125rem; /* 18px => 1.125rem */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1.25rem; /* 20px => 1.25rem */
}

.btn-create-subforum:hover {
    background-color: #0056b3;
}

.forum-card .card-title a,
.forum-card .card-text a {
    text-decoration: none !important; /* Use !important to ensure the style is applied */
}

.forum-card .card-title a:hover,
.forum-card .card-text a:hover {
    color: #333;
}


.forum-card:hover {
    box-shadow: 0 0.375rem 0.5rem rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.5rem; 
    margin-bottom: 0.625rem; 
    /* color: #333; */
}

.card-text {
    font-size: 1rem;
    /* color: #777; */
}

.navbar-footer-style {
    background-color: #374785 !important;
    color: #ffffff !important;
}

/* Override Bootstrap dropdown background */
.navbar-footer-style .navbar-collapse {
    background-color: #374785 !important;
}

/* Remove any box-shadow or border */
.navbar-footer-style .navbar {
    box-shadow: none !important;
    border: none !important;
}

/* Custom CSS to change navbar text color */
.navbar-footer-style .navbar-nav .nav-link {
    color: #ffffff !important; /* White text color */
}

/* Custom CSS to change the navbar brand text color */
.navbar-footer-style .navbar-brand {
    color: #ffffff !important; /* White text color */
}

.navbar-brand{
    margin-left: 1.5vmin;
}

textarea {
    width: 60vmax;
    height: 5vmin;
}

input.btn-primary {
    background-color: #f8e9a1;
    border: 0.02em solid black; 
    color:black;
}
input.btn-primary:hover {
    background-color: #b9a643;
    border: 0.02em solid black; 
    color:black;
}

div.col>textarea{
    height:15vmin;
}

form>p {
    display: flex; 
    align-items: center;
}

.page-footer {
    background-color: #A8D0E6;
    color: #ffffff;
    padding: 2vw; 
    margin-top: 5vw;
    text-align: center;
    font-size: 1.75vw; 
    width: 100%;
    border-top: 1px solid #555;
    position: absolute;
}


.signup {
    background-color: #FFD700; 
    color: #fff; 
    padding: 2.5vw; 
    border-radius: 2.5vw; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth hover effect */
    text-decoration: none; /* Remove underlines on links */
}


.signup:hover {
    background-color: #FFC800; /* Lighter yellow on hover */
    color: #fff; 
  }
  
.collapse {
    &:not(.show) {
      display: none;
    }
}


.collapsing {
    height: 0;
    overflow: hidden;
    @include transition($transition-collapse);

    &.collapse-horizontal {
        width: 0;
        height: auto;
        @include transition($transition-collapse-width);
    }
}