{% extends 'base.html' %}
{% block content %}

<h1> General Subforums like by: {{ user.username }} </h1>
{% for like in user.subforum_likes_set.all %}
  <a href="{% url 'subforums_detail' like.subforum.id %}">
      <div class="card mb-3">
          <div class="card-body forum-card">
              <h5 class="card-title">{{ like.subforum.title }}</h5>
              <p class="card-text">{{ like.subforum.date }}</p>
              <p class="card-text">{{ like.subforum.likes }}</p>
          </div>
      </div>
  </a>
{% endfor %}

<h1> Company Subforums like by: {{ user.username }} </h1>
{% for like in user.company_subforum_likes_set.all %}
  <a href="{% url 'company_subforums_detail' like.subforum.company.id like.subforum.id %}">
      <div class="card mb-3">
          <div class="card-body forum-card">
              <h5 class="card-title">{{ like.subforum.title }}</h5>
              <p class="card-text">{{ like.subforum.date }}</p>
              <p class="card-text">{{ like.subforum.likes }}</p>
          </div>
      </div>
  </a>
{% endfor %}


{% endblock %}