{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <div class="row-content">
        <div class="col">
            <h1>{{ subforum.title }}</h1>
            <small class="text-muted">Created: {{ subforum.date }}</small><br>
            <small class="text-muted">Likes: <span id="likes"> {{ likes }} </span> </small> 
            <p> {{ subforum.content }} </p>
            {% for photo in subforum.photo_set.all %}
                <img src=" {{ photo.url }} " alt="">
            {% empty %}
            <div>No Photos Uploaded</div>
            {% endfor %}
            </div>
            {% if user == subforum.user %}
                <form action=" {% url 'subforums_update' subforum.id %} ">
                    {% csrf_token %}
                    <input type="submit" class="btn" value="Edit Subforum">
                </form>
            {% endif %}
            <div>
                <form class="like-button-form" method="POST">
                    {% csrf_token %}
                    {% if is_liked %}
                        <button class="like-button" style="background-color: red;">LIKE</button>
                    {% else %}
                        <button class="like-button" style="background-color: white;" >LIKE</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            {% for post in subforum.post_set.all %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Post by User: {{ post.user }} </h5>
                    <small>Created: {{ post.date }}</small><br>
                    <small>Likes: {{ post.likes }}</small>
                    <p>{{ post.content }}</p>
                    {% if user == post.user %}
                        <form action=" {% url 'delete_post' subforum.id post.id %} ">
                            {% csrf_token %}
                            <input type="submit" class="btn-delete" value="Delete Post">
                        </form>
                    {% endif %}
                </div>
                <div class="comment-container">
                    {% for comment in post.comment_set.all %}
                        <div class="comment">
                        <p > {{ comment.user }} Commented:<br>
                            {{ comment.date }} <br>
                            {{ comment.content }} </p>
                        {% if user == comment.user %}
                            <form action=" {% url 'delete_comment' subforum.id post.id comment.id %} ">
                                {% csrf_token %}
                                <input type="submit" class="btn-delete" value="Delete Comment">
                            </form>
                        {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div>
                    {% if user.is_authenticated %}
                        <form action=" {% url 'add_comment' subforum.id post.id %} " method="POST">
                            {% csrf_token %}
                            {{ comment_form.as_p }}
                            <input type="submit" class="btn-add" value="Add A Comment">
                        </form>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <h2>Add a Post</h2>
            {% if user.is_authenticated %}
                <form action="{% url 'add_post' subforum.id %}" method="POST">
                    {% csrf_token %}
                    {{ post_form.as_p }}
                    <button type="submit" class="btn btn-primary">Add Post</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% block scripts %}
<script>
    $(document).ready(function() {
        $('.like-button-form').submit(function(event) {
            event.preventDefault();
            let form =$(this)
            let button = document.querySelector('.like-button')
            let likes= document.querySelector('#likes')
            $.ajax({
                url: "{% url 'subforums_like' subforum.id %}", 
                type: "POST", 
                data: form.serialize(), 
                dataType: "json", 
                success: function(data) {
                    if (data.success) {
                        likes.innerText = data.likes
                        data.is_liked ? button.style.backgroundColor = 'red' : button.style.backgroundColor = 'white'
                        console.log(`success!, likes: ${data.likes} `)
                    } else {
                        alert('failed to add a like to the subforum')
                    }
                }, 
                error: function() {
                    alert('server failed to add a like')
                }
            })
        } )
    } )
</script>

{% endblock %}
{% endblock %}