{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>{{ subforum.title }}</h1>
            <small>Created: {{ subforum.date }}</small>
            <small>Likes: {{ subforum.likes }}</small>
            <p> {{ subforum.content }} </p>
            {% if user == subforum.user %}
                <form action=" {% url 'subforums_update' subforum.id %} ">
                    {% csrf_token %}
                    <input type="submit" class="btn" value="Edit Subforum">
                </form>
            {% endif %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            {% for post in subforum.post_set.all %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Post by User {{ post.user }} </h5>
                    <small>Created: {{ post.date }}</small>
                    <small>Likes: {{ post.likes }}</small>
                    <p>{{ post.content }}</p>
                    {% if user == post.user %}
                        <form action=" {% url 'delete_post' subforum.id post.id %} ">
                            {% csrf_token %}
                            <input type="submit" class="btn" value="Delete Post">
                        </form>
                    {% endif %}
                </div>
                <div class="card-content">
                    {% for comment in post.comment_set.all %}
                        <p> {{ comment.user }} Commented:</p>
                        <p> {{ comment.content }} </p>
                        <small> {{ comment.date }} </small>
                        {% if user == comment.user %}
                            <form action=" {% url 'delete_comment' subforum.id post.id comment.id %} ">
                                {% csrf_token %}
                                <input type="submit" class="btn" value="Delete Comment">
                            </form>
                        {% endif %}
                    {% endfor %}
                </div>
                <div>
                    {% if user.is_authenticated %}
                        <form action=" {% url 'add_comment' subforum.id post.id %} " method="POST">
                            {% csrf_token %}
                            {{ comment_form.as_p }}
                            <input type="submit" class="btn" value="Add A Comment">
                        </form>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <h2>Add a Post</h2>
            {% if user.is_authenticated %}
                <form action="{% url 'add_post' subforum.id %}" method="POST">
                    {% csrf_token %}
                    {{ post_form.as_p }}
                    <button type="submit" class="btn btn-primary">Add Post</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}