{% extends 'base.html' %}
{% block content %}

<h1> {{ company.name }}</h1>
<h3> {{company.industry}} </h3>
<a href="{{company.url}}" target="_blank" rel="noopener noreferrer"> Link to Company's Job Postings</a>
<p> {{company.description}} </p>

<a href="{% url 'company_subforums_create' company.id %}">
  <button class="btn btn-primary btn-lg">Create A Subforum</button>
</a>

{% for subforum in company.company_subforum_set.all %}
  {% if subforum.pinned %}
  <a href="{% url 'company_subforums_detail' company.id subforum.id %}">
      <div class="card mb-3">
          <div class="card-body forum-card">
              <h5 class="card-title">{{ subforum.title }}</h5>
              <p class="card-text">{{ subforum.date }}</p>
              <p class="card-text">{{ subforum.likes }}</p>
          </div>
      </div>
  </a>
  {% endif %}
{% endfor %}

{% for subforum in company.company_subforum_set.all %}
  {% if subforum.pinned == False %}
  <a href="{% url 'company_subforums_detail' company.id subforum.id %}">
      <div class="card mb-3">
          <div class="card-body forum-card">
              <h5 class="card-title">{{ subforum.title }}</h5>
              <p class="card-text">{{ subforum.date }}</p>
              <p class="card-text">{{ subforum.likes }}</p>
          </div>
      </div>
  </a>
  {% endif %}
{% endfor %}

<div class="row">
  
    <div class="card">
      <div class="card-content">
      </div>
    </div>
 
</div>
{% endblock %}